.homepage__news{
    height: calc(100vh - 80px);
}
.news__carousel{
    height: calc(100vh - 80px);
}
.news__item{
    align-items: center;
    width: 75%;
    margin:auto;
    height: 100%;
    justify-content: center;
}
.social
{
    margin: 20px 0;
}

.social__link
{
    margin: 20px;
    padding: 10px;

    text-decoration: none;

    border-radius: 10px;
}

.social__link svg
{
    font-size: 2em;
}

.social__link:nth-child(1):hover
{
    color: #4a76a8 !important;
}

.social__link:nth-child(2):hover
{
    color: #7389dc !important;
}
.social__link:nth-child(3):hover
{
    color: #fa225b !important;
}
.social__link:nth-child(4):hover
{
    color: #f96854 !important;
}
.social__link:nth-child(5):hover
{
    color: #2da5e1 !important;
}
.social__link:nth-child(6):hover
{
    color: #c54a9a !important;
}