
.navbar
{
    background: #587ea2;
    font-size: 0.8rem;
}

.navbar-brand__img{
    height: 40px;
}

.navbar .dropdown-menu{
    font-size: 0.8rem !important;
}

.navbar .btn{
  font-size: 0.8rem !important;
}

.nav-link{
    color:#fff !important;
}
