body
{
    font-family: Albertusfont, Arial !important;
    font-weight: 200 !important;

    margin: 0;
    padding: 0;

    letter-spacing: 1px;

    background-color: #27292c !important;
}

@font-face
{
    font-family: Albertusfont;

    src: url(Albertusfont.otf);
}

figure
{
    margin: 0 !important;
}

main
{
    overflow-y: scroll;

    height: 100vh;
    margin: 0 auto;
    padding: 0;
}

section
{
    margin: 0 auto;
    padding: 50px 0;
}

h1
{
    font-size: 20px !important;
}

a
{
    text-decoration: none !important;
}

ul
{
    padding: 0;

    list-style-type: none;
}

button
{
    cursor: pointer;
}

input
{
    color: #fff;
    border: 0;
    border-bottom: 1px solid #fff;
    background: transparent;
}

textarea
{
    height: 32px;

    color: #fff;
    border: 0;
    border-bottom: 1px solid #fff;
    background: transparent;
}

*:focus
{
    outline: none !important;
    box-shadow: none !important;
}

/*scrollbar*/

::-webkit-scrollbar
{
    width: 10px;
}

::-webkit-scrollbar-track
{
    background: #27292c;
}

::-webkit-scrollbar-thumb
{
    background: #3b3c40;
}

::-webkit-scrollbar-thumb:hover
{
    background: #555;
}

.text_card,
a
{
    color: #fff !important;
}

.bg_card
{
    background: #3b3c40 !important;
}

@media (max-width: 1199.98px)
{
    h3
    {
        font-size: 15px !important;
    }
}

@media (max-width: 991.98px)
{

    body,
    .btn
    {
        font-size: 12px !important;
    }
    h2
    {
        font-size: 15px !important;
    }
}
@media (max-width: 767.98px)
{
    section
    {
        padding: 20px 0;
    }
    h1
    {
        font-size: 16px !important;
    }

}
