body
{
    font-family: Albertusfont, Arial !important;
    font-weight: 200 !important;
    
    margin: 0;
    padding: 0;
    background-color: #27292c !important;
    letter-spacing: 1px;
}

section{
    height:100vh;
    overflow-y: scroll;
    padding: 50px 0;
}

a{
    text-decoration: none !important;
}

.text_card, a{
    color: #fff !important;   
}

.bg_card{
    background: #3b3c40 !important;  
}
@font-face
{
    font-family: Albertusfont;

    src: url(Albertusfont.otf);
}

ul
{
    list-style-type: none;
    padding: 0;
}

button
{
    cursor: pointer;
}

input{
    background: transparent; 
    border:0;
    border-bottom: 1px solid #fff;
    color: #fff;
}

textarea{
    border:0;
    border-bottom: 1px solid #fff;
    background: transparent; 
    color: #fff;
    height: 32px;
}

*:focus {
    box-shadow: none !important;
    outline: none !important;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #27292c; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #3b3c40; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


/*Navigation */

#Navigation{
    height:100vh;
    width: 40px;
    background: #181818;
    z-index: 990;
    overflow: hidden;
    transition: .5s;
}

#Navigation:hover{
    margin-left: 0 !important;
}

#Navigation svg{
    font-size: 1.1em;
}

svg,
#Navigation li{
    pointer-events: none;
}

#Navigation a:hover svg{
    color: #55bbeb;
}

.active{
    color: #55bbeb;
}

/*HomePage*/

#social a{
  border-radius: 10px;
  margin:20px;
  padding: 20px;
  text-decoration: none;
}

#social svg{
  font-size: 2em;
}

#social a:nth-child(1):hover
{
    color: #4a76a8 !important;
}

#social a:nth-child(2):hover
{
    color: #7389dc !important;
}
#social a:nth-child(3):hover
{
    color: #fa225b !important;
}
#social a:nth-child(4):hover
{
    color: #f96854 !important;
}
#social a:nth-child(5):hover
{
    color: #2da5e1 !important;
}
#social a:nth-child(6):hover
{
    color: #c54a9a !important;
}

/*About*/

#library .wrapper{
    height: 300px;
}

/*Masters page*/

#masters .wrapper,
#users .wrapper
{
    height: 400px;

    background: no-repeat;
    background-position: top;
    background-size: cover;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
}

#masters .wrapper:hover .card,
#users .wrapper:hover .card
{
    transition: .5s;

    background-color: rgba(0,0,0,.8);
    box-shadow: 0 0 0 rgba(0,0,0,0);
}

.userpage__avatar{
    width: 100px; 
    height: 100px; 
    background: no-repeat;
    background-position: top;
    background-size: cover;
}

.userpage__facog svg{
    transition: .7s;
}

.userpage__facog:hover svg{
    transform: rotate(90deg);
}


#masters .wrapper:hover,
#library .wrapper:hover,
#users .wrapper:hover
{
    transition: .5s;

    box-shadow: 0 0 0 rgba(0,0,0,0);
}

#masters .card,
#library .card,
#users .card
{
    width: 100%;
    height: 100%;

    transition: .2s;

    background: transparent;
}

#masters a,
#library .text-white,
#users a
{
    text-decoration: none;
}

#library .wrapper:hover .card
{
    transition: .5s;

    background-color: #000;
    box-shadow: 0 0 0 rgba(0,0,0,0);
}

#articlesPage .card-body img
{
    width: 100%;
}

.form-inline .form-control
{
    width: 700px !important;
}

.gamepage__container{
    width: 90%;
    margin: auto;
}

footer
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #20232c;
}

footer a
{
    color: #fff !important;
}

footer ul
{
    list-style-type: none;
}

#arrowUp
{
    position: fixed;
    right: 50px;
    bottom: 40px;

    width: 50px;
    height: 50px;

    cursor: pointer;
    text-align: center;

    color: #fff;
    background-color: rgba(0,0,0,.7);
}

#arrowUp:hover
{
    width: 50px;
    height: 50px;

    text-align: center;

    background-color: rgba(0,0,0,1);
}

@media (max-width: 1199.98px)
{
    h1
    {
        font-size: 26px !important;
    }
    h3
    {
        font-size: 15px !important;
    }
}

@media (max-width: 991.98px)
{
    html
    {
        font-size: 14px;
    }

    body,
    .btn
    {
        font-size: 12px !important;
    }
    h1
    {
        font-size: 22px !important;
    }
    h2
    {
        font-size: 15px !important;
    }

    .navbar-toggler
    {
        position: absolute;
        right: 10px;
        top:10px;
        z-index: 999;

        width: 50px;
        height: 50px;

        border-color: transparent !important;
        outline: none;
        background: transparent;
    }

    .navbar-toggler hr
    {
        width: 20px;
        margin: 5px auto;

        transition: .3s ease;

        border: 1px solid #000;
    }

    .hr1
    {
        transition: .3s ease;
        -webkit-transform: skewY(-45deg);
                transform: skewY(-45deg);
    }
    .hr3
    {
        transition: .3s ease;
        -webkit-transform: skewY(45deg);
                transform: skewY(45deg);
    }
    
    .navbar-nav li
    {
        width: 300px;
        margin: auto;
    }
    
    .navbar-nav li svg
    {
        width: 300px;
        margin:auto;
    }

    .dropdown-menu{
        background-color: transparent !important;
        text-align: center !important;
    } 

    .nav-item{
        margin-top: 8px !important;
    }       
    
    .dropdown-menu a{
        margin-top: 10px !important;
        font-size: 0.9em;
        color: #fff;
    }

    #channels iframe
    {
        width: 100%;
    }

    #social a
    {
        font-size: 12px;
    }
    #headerCarousel
    {
        height: auto;
        min-height: 200px;
    }
    .keyAuth
    {
        text-align: center;
    }
    #arrowUp
    {
        font-size: 14px !important;
    }
}
@media (max-width: 767.98px)
{
    #Navigation{
        height:40px;
        display: inline-block;
        width: 100%;
        background: #181818;
        z-index: 999;
        overflow: hidden;
    }   
    #Navigation .flex-column{
        flex-direction: row!important;
    }
    #Navigation ul{
        padding-top: 5px;
        display: flex;
    }
    #Navigation li{
        padding-right: 10px;
        padding-left: 10px;
    }
    .display-1{
        font-size: 3em !important;
    }
    #TooltipNavToggle{
        display: none;
    }
    section{
        padding-top: 50px;
    }
    .tooltip {
        display: none !important;
    }

    #articlesPage .text-right
    {
        text-align: left !important;
    }
    #headerCarousel
    {
        min-height: 100px;
    }
    #login .form
    {
        width: 100%;
    }
    #social i.fa-2x{
      font-size: 1em;
    }
}
